exclude: .*\.pdb$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.2
    hooks:
      - id: flake8
        args:
          -  "--ignore=E203,E266,E501,F405,F403,W503"
          -  "--statistics"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.10
    hooks:
      - id: ruff
        args:
        - "--fix"
        - "--select"
        - "UP,PT,I,E"#,F,W,C90,I,N,F405,E402" # Specify the rules to select
        - "--line-length"
        - "88"
        - "--exit-non-zero-on-fix"
        - "--ignore"
        - "F405,F403,E501,E402,PT018,PT015,E722,E741"
        types_or: [ python, pyi] #, jupyter ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]

  - repo: https://github.com/srstevenson/nb-clean
    rev: "4.0.1"
    hooks:
      - id: nb-clean
        args:
          - --remove-empty-cells
          - --preserve-cell-outputs
